---
layout: default
---


<!-- Main -->
<div id="main">
  {% for post in site.posts limit:5 %}
  <section>
    <header class="major">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <section>
      {{ post.excerpt }}
    </section>
    
    <footer>
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">Read More</a></li>
      </ul>
    </footer>
  </section>
  {% endfor %}
  <section>
    <footer>
      <ul class="actions">
        <li><a href="/archive/" class="button">View all posts</a></li>
      </ul>
    </footer>
  </section>
</div>
